<!DOCTYPE html>
<html>
<head>
	<title>Saroosh</title>
</head>
<body>

	<h3>Greetings</h3>
	<h4> I am Saroosh, I am the instructor for this Alumni Python Course at Per Scholas. <br> When I am not teaching, I'm either painting a random image on a canvas OR watching Gotham OR making slides for this class OR drinking Beer OR doing all of the above in one shot!</h4>

	<h5> This is my example of your HW 8- Flask app </h5>

	<p><a href="/info"> click here </a>to post a message and see other messages</p>




	<a href="https://github.com/saroosh-z">Link to my github account</a>



</body>
</html>
